@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

@import "../../bower_components/photoswipe/src/css/main.scss";
$pswp__assets-path: "../../dist/images/";
@import "../../bower_components/photoswipe/src/css/default-skin/default-skin.scss";

$freewall-item-transition: all .5s ease-in-out;
// $freewall-item-initial-filter:  brightness(1) contrast(2) blur(0) grayscale(100%);
$freewall-item-initial-filter:  brightness(1) contrast(1) blur(0) grayscale(100%);
$freewall-item-end-filter:      brightness(1) contrast(1) blur(0) grayscale(0);

$font-family-headers: Abel, Arial, sans-serif;
$font-family-texts: "Droid Sans", Arial, sans-serif;
#freewall {
  background: transparent;
  width: 100%;
  height: 100%;
  // position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#freewall-layout {
  background: #fff;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 75px;
  bottom: 0px;
  height: 100%;
  // padding: 0;
}
.item-wrapper {
  overflow: hidden;
}
.item {
  background: transparent center center no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  
  transition: $freewall-item-transition;
}
.item:hover {
  .item-title{
    display: block;
  }
  a {
    opacity: 1;
    transform: scale(1.05,1.05);
    filter: $freewall-item-end-filter;
  }
}
.item a {
  opacity: .4;
  background: #ccc center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  
  filter: $freewall-item-initial-filter;
  transform: scale(1,1);
  transition: $freewall-item-transition;
}
.item-title{
  font-family: $font-family-headers;
  z-index: 9;
  display: block;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 3px #333;
  // background: rgba(0,0,0,.7);
  font-weight: bold;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: $freewall-item-transition;
}
#wpadminbar {
  display: none;
}
.navbar {
  font-family: $font-family-headers;
  // font-size: 15px;
  background: #fff;
  border: none;
  border-radius: 0;
  z-index: 1001;
}
.navbar-border {
  border-bottom: 3px solid #444 !important;
}
.navbar-default .navbar-toggle {
  margin: 12px 15px;
  padding: 15px 20px;
}
.nav>li>a {
  padding: 15px 25px;
  margin: 10px 5px;
  font-weight: 400;
  font-size: 18px;

  &:hover, &:active{
    background: #eee !important;
    box-shadow: inset 0px -3px 0 #333;
  }
}
#social-nav {
  li>a {
    padding: 12px 15px 12px;
    margin: 10px 0;
    font-weight: 400;
    font-size: 28px;

    &:hover, &:active{
      color: #aaa;
      background: #fff !important;
      box-shadow: none;
    }
  }
  .social-nav-title {
    display: none;
  }
  .social-nav-instagram:hover { color: rgb(41, 128, 185); }
  .social-nav-facebook:hover  { color: rgb(41, 128, 185); }
  .social-nav-twitter:hover   { color: rgb(102, 189, 177); }
  .social-nav-email:hover     { color: rgb(102, 189, 177); }
  .social-nav-youtube:hover   { color: rgb(225, 0, 0); }
  .social-nav-pinterest:hover { color: rgb(225, 0, 0); }
}
.navbar-default .navbar-brand {
  color: #333;
  // padding: 15px 15px;
  // margin: 10px 0;
  padding: 0; // Because the logo is an image
  margin: 10px 20px; // Because the logo is an image
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  // border-bottom: 3px solid #eee;
}
.dropdown-menu {
  border-radius: 0;
  padding: 0px;
}
.dropdown-menu>li>a {
  padding: 10px 20px;
}

#project-content {
  margin-top: 75px;
  h2{
    font-family: $font-family-headers;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
  }
  p{
    font-size: 13px;
    font-family: $font-family-texts;
    line-height: 20px;
  }
}
#project-photo{
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    background-color: #fff;
    margin-bottom: 5px;
    transition: $freewall-item-transition;
  }
  figcaption {
    font-size: 28px;
    font-family: $font-family-headers;
    overflow-wrap: break-word;
    line-height: 30px;
    margin: 15px 0 5px;

    .project-photo-caption {
      color: #666;
      font-size: 70%;
      transition: $freewall-item-transition;
    }
  }
  .project-photo-viewer {
    font-family: $font-family-texts;
    color: #999;
    font-size: 13px;

    &:hover{
      text-decoration: underline;
    }
  }
}
#project-thumbs {
  width: 100%;
  display: block;
  text-align: left;
  margin: 0 auto;
  figure {
    display: inline-block;
  }
  .img-thumbnail {
    margin-bottom: 5px;
    border-radius: 0;
    width: 100px;
  }
}

#page{
  margin-top: 60px;

  .page-header{
    margin-top: 85px;
    margin-bottom: 20px;
   
    h1 {
      font-family: $font-family-headers;
      text-align: center;
    }
  }
  .page-content {
    font-family: $font-family-texts;
    font-size: 14px;
  }
}

.comment-form input[type=text], .comment-form input[type=email], .comment-form input[type=url], .comment-form textarea, .form-control {
  border-radius: 0;
}

// Rules for mobile browsing
@media (max-width: 767px) {
  .nav>li>a {
    &:hover, &:active{
      box-shadow: none;
    }
  }
  #social-nav {
    li>a {
      padding: 15px 25px;
      margin: 10px 5px;
      font-weight: 400;
      font-size: 18px;

      &:hover, &:active{
        background: #eee !important;
      }
    }

    .social-nav-title {
      display: inline-block;
    }
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
  }
  #project-content {
    margin-top: 70px;
  }
}

// Bootstrap 2.x navbar divider:
.navbar .divider-vertical {
  height: 50px;
  padding: 15px 0;
  margin: 10px 5px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

// Not found alert (404 kind of)
div.nothing-found {
  font-family: $font-family-headers;
  text-align: center;
  display: block;
  color: #333;
  margin-top: 10%;
  font-size: 36px;
  z-index: 9999;
}